<div style='display:inline-block;vertical-align:middle;align-self:center;width:100%;padding:4px;'>

    <div id ="textfield" class="field" style="height:620px;width:1000px;align-self:center;margin:auto;vertical-align:middle;"><span> </span></div>
    <canvas id="table" height="620" width="1000" style="height:620px;width:1000px;margin-left:auto;margin-right:auto;display:block;"></canvas>

    <div style="height:40px;width:1000px;align-self:center;margin:auto;margin-top:2px;">
    <canvas id="lcounter" width="400" height="40" style="margin-left:0;margin-right:auto;"></canvas>
    <canvas id="score" width="180" height="40" style="margin-left:auto;margin-right:auto;"></canvas>
    <canvas id="rcounter" width="400" height="40" style="margin-left:auto;margin-right:0;"></canvas>
    </div>

</div>